<div class="container">
    <form [formGroup]="vegitables">
        <div class="row">
            <h1 class="text-center">VegitableList</h1>
            <div class="col-6 m-auto">
                <label class="form-label">productname</label>
                <input type="text"class="form-control"place holder="enter item name"formControlName="productname">
                <label class="form-label">quantity</label>
                <input type="text"class="form-control"place holder="quantity"formControlName="quantity">
                <label class="form-label">Price</label>
                <input type="number"class="form-control"place holder="Price"formControlName="price">
                <label class="form-label">description</label>
                <input type="text"class="form-control"place holder="description"formControlName="description">
              
            </div>
           <div class=" text-center">
            <button class="btn btn-success"  type="submit" (click)="Add()">Add</button>
           </div>
        </div>
    </form>
    <table class=" table  table-striped table-bordered ">
        <thead>
            <tr>
                
                <th>productname</th>
                <th>quantity</th>
                <th>price</th>
                <th>description</th>
                <th>Action</th>
               
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of veg">
                <td>{{p.productname}}</td>
                <td>{{p.quantity}}</td>
                <td>{{p.price}}</td>
                <td>{{p.description}}</td>
                <td><a href=""><i class="bi bi-pencil-square"></i></a>,<a href=""><i class="bi bi-trash"></i></a></td>

               
            </tr>
        </tbody>
    </table>

</div>
